.navbar {
  background-color: rgb(0, 0, 0, 0) !important;
}
.navbar .container {
  background-color: rgb(0, 0, 0, 0) !important;
}
.navbar .container .navbar-brand {
  color: rgb(173, 178, 203);
}
.navbar .container .navbar-nav .nav-link {
  color: rgb(173, 178, 203);
  border-radius: 18x;
  padding: 8px 16px;
}
.navbar .container .navbar-nav .nav-link.active {
  background-color: rbg(127, 68, 255) !important;
  color: white !important;
}
