<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Cảm ơn bạn đã đặt hàng</h1>
    <p>Thông tin chi tiết đơn hàng</p>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th scope="col" class="text-start">Sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Tổng giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
                  alt="product image"
                  class="product-image"
                />
                <span class="product-name">Vios</span>
              </div>
            </td>
            <td>2</td>
            <td>890.000.000</td>
            <td>890.000.000</td>
          </tr>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
                  alt="product image"
                  class="product-image"
                />
                <span class="product-name">Vios</span>
              </div>
            </td>
            <td>2</td>
            <td>890.000.000</td>
            <td>890.000.000</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-3">
        <button class="btn btn-gradient" type="button">Tiếp tục mua sắm</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
