<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Home</h1>
    <p>Categories</p>
  </div>
  <!--  -->
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm sản phẩm"
    />
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Vios</option>
      <option>Camry</option>
      <option>Raize</option>
      <option>Hilux</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
          alt="product Image"
          class="product-image"
        />
        <h3 class="product-name">Vios</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores,
          repudiandae.
        </p>
        <p class="product-warranty">Lorem ipsum dolor sit amet.</p>
        <p class="product-price">Giá: 899.000.000</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
          alt="product Image"
          class="product-image"
        />
        <h3 class="product-name">Vios</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores,
          repudiandae.
        </p>
        <p class="product-warranty">Lorem ipsum dolor sit amet.</p>
        <p class="product-price">Giá: 899.000.000</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
          alt="product Image"
          class="product-image"
        />
        <h3 class="product-name">Vios</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores,
          repudiandae.
        </p>
        <p class="product-warranty">Lorem ipsum dolor sit amet.</p>
        <p class="product-price">Giá: 899.000.000</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
          alt="product Image"
          class="product-image"
        />
        <h3 class="product-name">Vios</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores,
          repudiandae.
        </p>
        <p class="product-warranty">Lorem ipsum dolor sit amet.</p>
        <p class="product-price">Giá: 899.000.000</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
          alt="product Image"
          class="product-image"
        />
        <h3 class="product-name">Vios</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores,
          repudiandae.
        </p>
        <p class="product-warranty">Lorem ipsum dolor sit amet.</p>
        <p class="product-price">Giá: 899.000.000</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://www.toyota.com.vn//Resources/Images/011DEA3A01BBE6EFEEB74DCB69E50997.png"
          alt="product Image"
          class="product-image"
        />
        <h3 class="product-name">Vios</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores,
          repudiandae.
        </p>
        <p class="product-warranty">Lorem ipsum dolor sit amet.</p>
        <p class="product-price">Giá: 899.000.000</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
